@font-face {
  font-family: 'Kronika';
  src: url(../fonts/kronika.ttf);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100%;
  max-height: 100vh;
}

.fontPreload {
  position: absolute;
  left: -100%;
  font-family: 'Kronika';
}